---
title: "Operators"
subtitle: Arithmetic, Relational, & Logical
description: Detailed look into all these things.
author: "Abdullah Zeeshan"
date: "2023-06-23"
categories: [coding]
reading-time: True
toc: true
fig-align: center
fig-cap-location: bottom
---

![](operators.jpg)

Let me begin by goofing around and then study this in a systematic way.

In [1]:
a = 10
b = 5
n = a + b
print(n)

15

The `+` symbol is adding the values stored in `a` and `b`. This is called as an *operator*. We have other operators as well.

In [3]:
a = 10
b = 5
n = a - b
print(n)

5

In [4]:
a = 10
b = 5
n = a * b
print(n)

50

For multiplication we use the `*` symbol in programming. Here is division.

In [5]:
a = 10
b = 5
n = a / b
print(n)

2.0

Note that, when two integers are divided, Python gives the result by default as a `float` type.

Let me try other numbers.

In [6]:
print(2.3 * 4.99)
print(96 / 2.5)
print(3.56 + 9)
print(-67 + 34)

11.477
38.4
12.56
-33

Let me take a closer look into this.

In Python there are many operators. All of them classified into 3 categories as follows:

1. Arithmetic Operators
2. Boolean Operators
3. Logical Operators

## 1 Arithmetic Operators

Following is the list of various arithmetic operator symbols with their corresponding operation.

|Symbol|Operation|
|---|---|
|+|Addition|
|-|Subtraction|
|*|Multiplication|
|/|Division|
|//|Floor Division|
|%|Modulo|
|**|Exponentiation|

Let me try each of these.

In [7]:
print(10 + 5)

15

In [14]:
print(10 - 5)

5

In [9]:
print(10 * 5)

50

In [10]:
print(10 / 5)

2.0

In [11]:
print(10 // 5)

2

`//` is called the floor division operator.

`x // y` gives the quotient when `x` is divided by `y`.

**Example:** `8 // 3` is `2`.

In [12]:
print(10 % 5)

0

`%` is called the modulus operator.

`x % y` gives the remainder when `x` is divided by `y`.

**Example:** `10 % 3` is `1`.

In [13]:
print(10 ** 5)

100000

`**` is called the exponentiation operator.

`x ** y` returns $x^y$.

**Example:** `3 ** 2` is `9`.

:::{.callout-note}
`/` and `//` are two different operators. `/` gives the complete result of division, while `//`  returns the quotient. For example, `5 / 2` results in `2.5` while `5 // 2` gives `2`.
:::

### Binary & Unary Operators

The above operators are called as *binary* operators because they are operated on two values. The two values on which they are operated are called as *operands*.

Unary operators on the other hand are operated on only one operand. There are two of these:

1. Unary Plus `+`
2. Unary Minus `-`

Look at the following:

In [15]:
print(- 2)
print(+ 2)

-2
2

In simple words they are like *signs* before a number.

In [16]:
print(- 9.76)
print(+ 123.56)

-9.76
123.56

The symbols `+` and `-` are thus used for both binary and unary operands. Based on the context, I have to make sense of what is going on.

In [18]:
print(10 - 2) # Binary minus
print(- 2) # Unary minus

8
-2

Both of them can be used as well.

In [19]:
print(10 - - 2) # Both, first is binary minus and second is unary minus

12

This is equivalent to $10 - (-2)$.

:::{.callout-note}
The operands can be both **literals** and **variables**.
:::

## 2 Relational Operators

Apart from the arithmetic operators there are these operators that evaluate the relationship between values.

|Symbol|Operation|
|---|---|
|>|greater than|
|<|less than|
|>=|greater than or equal to|
|<=|less than or equal to|
|==|double equal to|
|!=|not equal to|

These operators are binary and they output only a boolean value `True` or `False` based on the truth or falsehood of a relationship.

Consider the following:

In [20]:
print(10 > 5)

True

In [21]:
print(10 < 5)

False

In [22]:
print(10 >= 5)

True

In [23]:
print(10 <= 5)

False

In [24]:
print(10 == 5)

False

In [25]:
print(10 != 5)

True

Since values can be stored in variables, I can do the following as well:

In [26]:
x = 10
y = 20
z = y > x
print(z)

True



### Difference Between `==` & `=`

Note that `==` and `=` are not the same. Both of them serve a different purpose.

`==` operator checks if the two values are equal and outputs the boolean value. It is an *equality operator*.

`=` operator 1) assigns a value to a new variable or 2) updates the value of the previous variable. It is an *assignment operator*.

In [27]:
x = 5
print(x)
x = x + 1
print(x)
x = x + 1
print(x)

5
6
7

In the first line I have assigned the value `5` to the variable `x` using the assignment operator `=`. By printing its value, we get `5`.

In the next lines, I am updating the value of `x` as `x + 1`. This doesn't make sense in math, but in CS it makes perfect sense. The line `x = x + 1` is read from the RHS as follows.

- Take the previous value of `x`(`5`) and add `1` to it.
- This results in `6`.
- Store this new value in `x` itself by updating its previous value.

We can update however we like:

In [28]:
y = 100
print(y)
y = y / 10
print(y)
y = y + 5
print(y)
y = int(y)
print(y)

100
10.0
15.0
15

## 3 Logical Operator

Coming to our last category, we have the following:

|Operator|Operation|
|---|---|
|not|negation|
|and|conjunction|
|or|disjunction|

`and` and `or` are binary operators whereas `not` is a unary operator.

### `and`

In [42]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

### `or`

In [43]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

### `not`

In [35]:
a = True
print(not a)

False

Negates the value of `a`. It can be written with parenthesis as well:

In [36]:
b = False
print(not(b))

True

## To Explore Later

Now that I have looked at all of this, let me think and explore the following:

1. The appropriate operands that go well with each of the above operators.
2. Clear understanding of the type of output that comes with each operator
3. (and so on)

Let me just jot down some stuff here.

For all the arithmentic operators, the operands with which I played around were `int` and `float` types.

In [37]:
a = 5
b = 10
c = a + b
print(c)

15

In [39]:
a = 6.7
b = -9.8
c = a + b
print(c)

-3.1000000000000005

What the hell is this?!:

In [40]:
a = 'apple'
b = 'ball'
c = a + b
print(c)

appleball

Turns out I can use strings as well, with the `+` operator. When used, it is combining the two strings one after the other.

In CS, this is called as *concatenation*.

So you see, I need to figure out what all works for other type of operators as well. Look at this for example.

In [41]:
print(5 and 7)

7

What is happening here?!

> **GOAL:** Get a clear idea of the list of operands that go well and the list of outputs that we get.