---
title: "Type Conversion/Type Casting"
subtitle: Converting data from one type to another
description: In this post I will be playing around with data conversions
author: "Abdullah Zeeshan"
date: "2023-06-22"
categories: [coding]
reading-time: True
toc: true
fig-align: center
fig-cap-location: bottom
---

![](conversion.jpg)

I can convert all 4 data types from one type to another. Following are the possibilities.

## 1 Converting Things Into `int`

We are going to convert the data types `float`, `str`, and `bool` into `int` type. Look at the following:

In [2]:
a = int(5.7)
b = int('10')
c = int(True)
d = int(False)
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

5 <class 'int'>
10 <class 'int'>
1 <class 'int'>
0 <class 'int'>

Let me break this down.

In the above lines, I have taken a different data type and asked the computer to convert it into an integer by passing it inside `int()`. The converted values are stored in the respective variables. Looks like each of the conversions are done differently. Let me examine each of them separately.

### `float` to `int`

When a `float` type is converted into an `int` type, the decimal goes away and just the whole part of stays.

### `str` to `int`

Only Strings that are numbers can be converted into `int` types. The following doesn't work.

In [3]:
x = int('hello')
print(x, type(x))

ValueError: ignored

### `bool` to `int`

The boolean value `True` is converted into an `int` as `1` and `False` is converted as `0`.

## 2 Converting Things Into `str`

Now, I am going to convert the data types `int`, `float`, and `bool` into `str` type.

In [4]:
a = str(5)
b = str(7.9)
c = str(True)
d = str(False)
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

5 <class 'str'>
7.9 <class 'str'>
True <class 'str'>
False <class 'str'>

This one seems pretty straightforward. All the values in terms of the structure are same but just the data type is changed.

## 3 Converting Things Into `float`

We are going to convert the data types `int`, `str`, and `bool` into `float` type. Look at the following:

In [5]:
a = float(13)
b = float('10.31')
c = float(True)
d = float(False)
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

13.0 <class 'float'>
10.31 <class 'float'>
1.0 <class 'float'>
0.0 <class 'float'>

Let me break this down.

### `int` to `float`

When a `int` type is converted into a `float` type, a decimal part is added right after the whole part.

### `str` to `float`

Again only strings that look like numbers can be converted into `float`. The following doesn't work.

In [6]:
x = float('hello')
print(x, type(x))

ValueError: ignored

### `bool` to `float`

The boolean value `True` is converted into an `float` as `1.0` and `False` is converted as `0.0`.

## 4 Converting Things Into `bool`

We are going to convert the data types `int`, `float`, and `str` into `bool` type. Look at the following:

In [9]:
a = bool(5)
b = bool(9.8)
c = bool('True')
d = bool('False')
e = bool('0')
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))

True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
True <class 'bool'>

Damn! All are converted into `bool` as `True`. Even the strings `False` and `0`!

When will they be false?! Turns out *only* in the following situations:

In [8]:
a = bool(0)
b = bool(0.0)
c = bool('')
print(a, type(a))
print(b, type(b))
print(c, type(c))

False <class 'bool'>
False <class 'bool'>
False <class 'bool'>

In the third line I have basically passed an *empty* string. It has no characters.

Looks like all *null* values are converted as `False`. Let me wrap this up.

### `int` to `bool`

**All** `int` values except `0` are converted into `bool` as `True`. Only `0` is `False`.

### `float` to `bool`

**All** `float` values except `0.0` are converted into `bool` as `True`. Only `0.0` is `False`.

### `str` to `bool`

**All** `str` values except `''` (or `""`) are converted into `bool` as `True`. Only `''` (or `""`) is `False`.